*.atsuo
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.ipch
*.suo
*.db
7_Segment_Display_Test/.vs/7_Segment_Display_Test/v17/Browse.VC.db-shm
*.db-wal
*.opendb
*.xml
7_Segment_Display_Test/packages
*.lastbuildstate
*.tlog
*.log
*.txt
*.CopyComplete
*.recipe
*.testlog
*.manifest
